*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Android Studio
.idea/
.gradle/

release.keystore.jks

# Gradle
/build/
!gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties

# Kotlin
*.kotlin_module
*.log

# Android
/app/build/
*/build/
release.properties
/release.keystore.txt
